$white: #ffffff;
$soft_red: #f38181;
$very_dark_gray: #333333;
$dark_gray: #999999;
$light_gray: #cccccc;
$very_light_gray: #e5e5e5;
$white_smoke: #f5f5f5;
$soft_cyan: #95e1d3;
$soft_yellow: #fce38a;
$container_width: 1300px;
$nav_background: $very_dark_gray;
